@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --dark-space-blue: #00001A;
    --offwhite: #fffdfa;
    --gunmetal: #5e607a;
    --light-vermillion: #f15d51;
    --silver: #c5c6ce;
    --yellow: #e9aa52;

    /* fontsizes */
    --heading-xl: 3.5rem;
    --heading-l: 2.5rem;
    --heading-m: 2rem;
    --heading-s: 1.25rem;
    --heading-xs: 1.125rem;
    --body: 0.9375rem;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.75rem 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: none;
}

main, .top {
    gap: 4rem;
}

.left-side, .text__button-container {
    gap: 1.5rem;
}

.text-container {
    gap: 1rem;
}

h1 {
    font-size: var(--heading-l);
    font-weight: 800;
    line-height: 40px;
    color: var(--dark-space-blue);
}

.text__button-container article {
    font-size: var(--body);
    color: var(--gunmetal);
    line-height: 26px;
}

.text__button-container button {
    background-color: var(--light-vermillion);
    color: var(--offwhite);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4.38px;
    padding: 0.75rem 1.25rem;
    outline: none;
    border: none;
    align-self: flex-start;
}

.right-side {
    padding: 1.5rem 1.25rem;
    background-color: var(--dark-space-blue);
    gap: 35px;
}

.right-side h2 {
    font-size: var(--heading-m);
    color: var(--yellow);
}

.right-side .content {
    gap: 31px;
}

.col {
    gap: 29px;
}

.col .info {
    gap: 0.5rem;
}

.col .info h3 {
    font-size: var(--heading-s);
    color: var(--offwhite);
    cursor: pointer;
}

.col .info h3:hover {
    color: var(--yellow);
}

.col .info p {
    font-size: var(--body);
    color: var(--silver);
}

hr {
    border-color: var(--gunmetal);
}


.bottom {
    gap: 2rem;
}